html, body {
  background-color: #000000;
  margin: 0;
  color: #efefef;
}

.content {
  padding-top: 100px;
}

nav {
  position: fixed;
  color: #ffffff;
  width: calc(100vw - 20px);
  height: 45px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Serpentine;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  padding: 0 4px;
  font-size: 17px;
  transition: all 0.2s ease-out;
}

.profile-logo {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../image/logo.png");
  background-size: contain;
}

.my-info {
  text-align: center;
}