html, body {
  background-color: #000000;
  margin: 0;
  color: #efefef;
}

.content {
  padding-top: 100px;
  max-width: 60rem;
  margin: 0 auto;
}

nav {
  position: fixed;
  color: #ffffff;
  width: calc(100vw - 60px);
  height: 45px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Serpentine;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  padding: 0 4px;
  font-size: 17px;
  transition: all 0.2s ease-out;
}

.group-logo {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../image/logo.png");
  background-size: contain;
}

.group-logo:hover {
  transform: rotate(-360deg);
  transition: all 1.2s ease-out;
}

.my-info {
  display: flex;
}

.profile-img {
  display: inline-block;
  max-width: 320px;
}

.profile-img img {
  width: 100%;
  border-radius: 20px;
}

.detail-info {
  padding-left: 2.35rem;
  padding-top: 4rem;
}

.detail-info-list {
  font-size: 1.4rem;
  margin: 8px 0;
  letter-spacing: 2px;
}