body{
  background-color: beige;
  margin : 0;
}

.container {
  display:flex;
  background-color:beige;
  flex-direction: column;
  height: 100vh;
  /* flex-wrap: wrap; */
  /* flex-flow : column nowrap; */
  /* justify-content: center; */
}

.item {
  width:80px;
  height:80px;
  box-sizing: border-box;
  border:2px dotted black;
  /* flex-basis: 5%; */
}

.item1{
  background-color: rgb(190, 255, 195);
}
.item2{
  background-color: rgb(237,  248, 136);
}
.item3{
  background-color: rgb(192, 208, 241);
}
.item4{
  background-color: rgb(255, 226, 198);
}
.item5{
  background-color: rgb(255, 190, 252);
}
