body{
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.layout-container {
  background-color: beige;
  width: 800px;
  height: 600px;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layout-title {
  flex-basis: 13%;
  display: flex;
  justify-content: center;
}

.title{
  background-color: rgb(250, 212, 244);
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-container {
  flex-basis: 28%;
  display: flex;
  justify-content: space-evenly;
}

.recent {
  background-color: rgb(255, 255, 172);
  flex-basis: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-container {
  flex-basis: 53%;
  display: flex;
  justify-content: space-evenly;
}

.popular {
  background-color: rgb(179, 255, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular1{
  flex-basis: 72%;
}

.popular2{
  flex-basis:22%;
}

