
html {
    width: 100%;
    height: 100%;

}

section {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

nav {
    width: 100vw;
    position: fixed;
    background-color: rgb(216, 126, 8);
    height: 5vh;
        }

nav ul {
    height: 5%;
    width: 100%;
    list-style-type: none;
    position: inherit;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 5px;
}

nav ul li {
    float: left;
    display: inline;
    margin-bottom: 20px;
    margin-left: 20px;
        }

footer {
    position: fixed;
    bottom: 0%;
}

.content-box {
    width: 30vw;
    height: 50vh;
}

.introduce-box {
    position:absolute;
    width: 30vw;
}

